:root {
    --PAPAYA: #E24E42;
    --AQUA: #008F95;
    --AQUA-DARK: #007277;
    --LIGHT-GRAY: #f2f6fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--LIGHT-GRAY);
}

body, form, input {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-size: 1.1rem;
    line-height: 1.75rem;
    width: fit-content;
    margin: 50px auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content-wrapper {
    padding: 5rem;
}

h1 {
    color: var(--AQUA);
    margin-bottom: 1.5rem;
}

h3 {
    color: var(--AQUA-DARK);
    font-weight: 600;
    margin-bottom: 1rem;
}

#description {
    max-width: 600px;
}

form, section {
    width: fit-content;
}

label {
    display: inline-block;
    font-weight: 500;
    color: var(--AQUA);
    margin-right: .5rem;
    width: 10rem;
}

input {
    font-weight: 500;
    font-size: 1rem;
    padding: .7rem 1rem;
    width: 6rem;
    text-align: center;
    outline: none;
    background: var(--LIGHT-GRAY);
    margin-bottom: 1rem;
    border: 2px solid var(--LIGHT-GRAY);
    border-radius: 5px;
}

input:focus {
    border-bottom: 2px solid var(--AQUA);
}

#submit {
    height: 3rem;
    width: auto;
    padding: .5rem 2rem;
    font-weight: bold;
    color: var(--AQUA);
    transition: 100ms;
    margin: 1rem 0 0 0;
    border: none;
}

#submit:hover {
    color: white;
    background-color: var(--AQUA);
    cursor: pointer;
}

#submit:active {
    transform: scale(.9);
}

footer {
    padding: .75rem;
    text-align: center;
    color: gray;
    background-color: var(--LIGHT-GRAY);
    border-radius: 0 0 12px 12px;
}